<div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>
  <button (click)="openDialogFrom()">from</button>
  <span>{{pathFrom}}</span>
  <fieldset>
    <legend>Veuillez sélectionner les types de fichiers à extraire :</legend>
    <div>
      <div *ngFor="let extension of extensions">
        <input type="checkbox" name="filesextensions" [id]="extension.id" [value]="extension" [(ngModel)]="extension.checked" />
        <label [for]="extension.id">{{extension.name}}</label>
    </div>
    </div>
  </fieldset>
  <button (click)="openDialogTo()">to</button>
  <span>{{pathTo}}</span>
  <button (click)="doIt()">GO</button>
  <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a>
</div>